# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvsca*
*.sw?
/.vs/V_Grid/CopilotIndices/18.8.1093.27292
/.vs/V_Grid.slnx/FileContentIndex/0eb09c45-8d60-4c77-ab5c-e4cc2259878e.vsidx
/.vs/V_Grid.slnx/FileContentIndex/c3098cc2-bd10-4c55-9690-88e7f6e7c55c.vsidx
/.vs/V_Grid.slnx/FileContentIndex/e4eb47b0-b245-494b-8ea2-2d5f85f73ebb.vsidx
/.vs/V_Grid.slnx/FileContentIndex/d10b0f3a-d42c-403f-8f06-e4690eda067a.vsidx
/.vs/V_Grid.slnx/FileContentIndex/e8e9e2a5-5eac-452e-b2e8-4df9ec283795.vsidx
/.vs/V_Grid.slnx/FileContentIndex/97e944bd-1bfe-45f7-8600-d63442705c4f.vsidx
/.vs/V_Grid.slnx/FileContentIndex/1a6dabef-9d8f-415c-9327-037ed90f6d6e.vsidx
/.vs/V_Grid.slnx/FileContentIndex/a4f2db0b-8ceb-49f2-876b-d7cd61649d34.vsidx
/.vs/V_Grid.slnx/FileContentIndex/4bd528fb-f0d3-49cb-8d56-7fec965f0b21.vsidx
/.vs/slnx.sqlite
/.vs/slnx.sqlite-journal
*.vsidx
/.vs/V_Grid.slnx/FileContentIndex/9f5405fc-6f8e-4447-bdb6-19ebcbdb2e38.vsidx
/.vs/V_Grid.slnx/FileContentIndex/9f5405fc-6f8e-4447-bdb6-19ebcbdb2e38.vsidx
/.vs/slnx.sqlite
.vs/V_Grid.slnx/v18/.wsuo